
.nav-tabs > .active > a > .icon-chevron-right{
	opacity: 1;
}
.nav-tabs > li > a > .icon-chevron-right{
float: right;
margin-top: 2px;
margin-right: -6px;
opacity: .25;
}

.nav-tabs > li > a:hover > .icon-chevron-right{
	opacity: 0.50;
}

line {
 /* stroke: #000;*/
  stroke-width: 1.5px;
}