<nav id="horizontal-nav">
        <ul class="nav nav-tabs">
          
          <li><a id="line">Line</a></li>
          <li><a id="hay-stack">Hay-Stack</a></li>
          
        </ul>
        </nav>
        <div class="row-fluid">
          <h3 id="sort-head"></h3>
        </div>
        <div id="svg">
        </div>
        
        <div class="btn-group ">
          <button id="refresh" class="btn btn-primary btn-large"><i class="icon-white icon-repeat"></i></button>
          <button id="code" class="btn btn-primary btn-large"><i class="icon-white icon-align-justify"></i></button>
        </div>
      <hr>
        <div id="code-div">
      </div>

        
