<nav id="horizontal-nav">
        <ul class="nav nav-tabs">
          
          <li><a id="line">Line</a></li>
          <li><a id="hay-stack">Hay-Stack</a></li>
          
        </ul>
        </nav>
        <div id="svg">
        </div>
        
        <div class="btn-group ">
          <button id="refresh" class="btn btn-primary btn-large"><i class="icon-white icon-repeat"></i></button>
          <button id="code" class="btn btn-primary btn-large"><i class="icon-white icon-align-justify"></i></button>
        </div>

        <hr>