<script type="text/javascript">SyntaxHighlighter.highlight();</script>
<%if (token == 'lg'){%>
<pre class="brush: js;">
<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  margin-top: 225px;
}

line {
 
  stroke-width: 1.5px;
}

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>


var actualArray=[], helperArray=[],passes=[];
var w = 960,
    h = 50;
    
var n = 240,
    height = d3.scale.linear().domain([0,n]).range([5,245]),
    x = d3.scale.linear().domain([0, n]).range([h, w - h]),
    a = d3.scale.linear().domain([0, n - 1]).range([90 + 60, 270 - 60]),
    data = d3.shuffle(d3.range(n)),
    duration = 250;

var svg = d3.select("body").append("svg")
    .attr("width", w)
    .attr("height", 500);

var line = svg.selectAll("line")
    .data(data)
  .enter().append("line")
    .attr("x1", 0)
    .attr("y1", 245)
    .attr("x2", 0)
    .attr("y2", function(d){return (245-height(d));})
    .attr("transform", transform);
     <%}else{%>
    <pre class="brush: js;">
          <!DOCTYPE html>
           <meta charset="utf-8">
           <style>

           body {
             margin-top: 225px;
           }

           line {
             stroke: #000;
             stroke-width: 1.5px;
           }

           </style>
           <body>

           <script src="http://d3js.org/d3.v3.min.js"></script>
           <script>

      

           var w = 960,
               h = 50;
               
           var n = 240,
               height = d3.scale.linear().domain([0,n]).range([5,245]),
               x = d3.scale.linear().domain([0, n]).range([h, w - h]),
               a = d3.scale.linear().domain([0, n - 1]).range([-30,30]),
               data = d3.shuffle(d3.range(n)),
               duration = 0;

           var svg = d3.select("body").append("svg")
               .attr("width", w)
               .attr("height", 500);

               var line = svg.selectAll("line")
               .data(data)
               .enter().append("line")
               .attr("x1", 0)
               .attr("y1", 100)
               .attr("x2", 0)
               .attr("y2", 100+h)
               .attr("transform", transform);

        <%}%>

start();

// Start the animation!
function start() {
  var passes = TopDownMergesort(data).reverse();

  update();

  function update() {
    var pass = passes.pop();

    line.data(pass.array, Number)
    .attr("stroke",function(i){
          if(i>=pass.start && i<=pass.pivot){
            
            return "green";
          }else if(i>pass.pivot && i<=pass.end){
            return "orange";
          }else{
            return "black";
          }
        })
      .transition()
        .duration(duration)
        .attr("transform", transform);

    if (passes.length) {

      setTimeout(update, duration);
    } else {
      d3.shuffle(data);
      setTimeout(start, duration );
    }
  }
}

<%if(token =="lg"){%>
 function transform(d, i) {
   
   return "translate(" + x(i) + "," + h + ")";
 }
 <%}else{%>
  function transform(d, i) {
    
    return "translate(" + x(i) + ")rotate(" + a(d) + ","+0+","+(100+h)+")";
  }
  <%}%>

// Sorts the specified array using top-down mergesort, returning an array of
// arrays representing the state of the specified array after each insertion for
// each parallel pass. The first pass is performed at size = 2.


function TopDownMergesort(array){
  low = 0;
  high= array.length -1;
  actualArray = array;
  mergeSort(low,high);
  console.log(passes.length+ " is actual");
  return passes;
}

function mergeSort(low,high){
  console.log("low "+low+" high "+high);
  if(low<high){
    var middle = Math.floor(low + (high-low)/2);
    console.log("mid "+middle);
    
    mergeSort(low, middle);
    
    mergeSort(middle+1, high);
    merge(low,middle, high);
   
  }
}

function merge(low, middle, high){
 
  var i=0,j=0,k=0,data;
 
  for(i=low;i<=high;i++){
    helperArray[i]=actualArray[i];
  }

  i=low, j=middle+1, k=low;

  while(i<=middle && j<=high){
    if(helperArray[i]<=helperArray[j]){
      actualArray[k] = helperArray[i];
      i++;
    }else{
      actualArray[k]=helperArray[j];
      j++;
    }
    k++;
  }
  while(i<=middle){
    actualArray[k] = helperArray[i];
    i++;
    k++;
  }
  // array.slice() is used to push new instance of array.
  // pushing just the array will not do as in JS everything is pass by reference so in the end all 
  // the items pushed will refer to the final sorted array.
  data={
    array : actualArray.slice(),
    start: low,
    end: high,
    pivot:middle
  }
   passes.push(data);



}

</script>